/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.mainContent2 {
  margin: 0% 8%;
  font-family: 'Open Sans', sans-serif;
}
.sectionOne {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #F2EAEA;
}
.sectionOne .leftHalf {
  width: 40%;
  height: 60vh;
  margin: 6% 0% 0% 8%;
}
.sectionOne .leftHalf h2 {
  font-size: 5.6rem;
  color: #424244;
}
.sectionOne .leftHalf h3 {
  color: #696969;
  font-size: 6.8rem;
  margin: 4% 0% 9% 0%;
  font-weight: 300;
  line-height: 1.1;
}
.sectionOne .leftHalf button {
  font-size: 2.1rem;
  color: #ffffff;
  background-color: #C91757;
  padding: 2% 5%;
  border-radius: 10px;
}
.sectionOne .rightHalf {
  width: 40%;
  height: 60vh;
  margin: 2% 6%;
}
.sectionOne .rightHalf img {
  margin: 7% 0% 3% 0%;
  border-radius: 10px;
}
.section1 {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: #F2EAEA;
  padding: 5% 0%;
}
.section1 .sideL {
  width: 40%;
}
.section1 .sideL h4 {
  font-size: 4.8rem;
  color: #424244;
}
.section1 .sideL p {
  font-size: 2.4rem;
  color: #44474C;
  line-height: 1.5;
  margin-top: 4%;
}
.section1 .sideR {
  width: 40%;
}
.section1 .sideR img {
  width: 100%;
  border-radius: 10px;
}
.sectionTwo {
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5% 0% 5% 8%;
}
.sectionTwo h4 {
  font-size: 4.8rem;
  color: #424244;
}
.sectionTwo h5 {
  font-size: 2.4rem;
  color: #44474C;
  line-height: 1.4;
  margin: 4% 0% 3% 0%;
}
.section2 {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 5% 0%;
}
.section2 .sideL {
  width: 40%;
}
.section2 .sideL img {
  width: 100%;
  border-radius: 10px;
}
.section2 .sideR {
  width: 40%;
}
.section2 .sideR p {
  font-size: 2.4rem;
  color: #44474C;
  line-height: 1.5;
  margin-top: 14%;
}
.sectionThree {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2EAEA;
}
.sectionThree h4 {
  font-size: 4.8rem;
  margin: 5% 0% 5% 8%;
  color: #424244;
}
.sectionThree .threeSteps {
  list-style-position: inside;
  margin: 6% 16% 6% 3%;
  color: #44474C;
}
.sectionThree .threeSteps li {
  font-size: 2.4rem;
  padding: 3% 0%;
  list-style-type: square;
}
.sectionThree .threeSteps li:nth-child(1) {
  color: #C91757;
}
.section3 {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F2EAEA;
  padding: 5% 0% 10% 0%;
}
.section3 .ourTeam {
  font-size: 4.8rem;
  color: #424244;
  margin-bottom: 5%;
  text-align: center;
}
.section3 .devGroupOne {
  margin-bottom: 4%;
}
.section3 .devGroupOne,
.section3 .devGroupTwo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.section3 .devGroupOne .dev,
.section3 .devGroupTwo .dev {
  width: 25%;
  justify-content: space-between;
  font-size: 2.4rem;
  text-align: center;
}
.section3 .devGroupOne .dev img,
.section3 .devGroupTwo .dev img {
  width: 80%;
  border-radius: 50%;
}
.section3 .devGroupOne .dev h4,
.section3 .devGroupTwo .dev h4 {
  color: #C91757;
  margin-top: 5%;
}
.section3 .devGroupOne .dev h5,
.section3 .devGroupTwo .dev h5 {
  font-weight: 300;
  margin-top: 3%;
  color: #44474C;
}
.section3 .devGroupOne .dev i,
.section3 .devGroupTwo .dev i {
  margin-top: 5%;
  padding: 0% 1%;
  color: #008080;
}
.section3 .devGroupOne .dev p,
.section3 .devGroupTwo .dev p {
  font-size: 2.4rem;
  color: #44474C;
  line-height: 1.5;
  margin-top: 4%;
  text-align: left;
  padding-left: 10%;
}
.sectionFour {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}
.sectionFour h4 {
  font-size: 4.8rem;
  margin: 4% 0% 3% 8%;
  color: #424244;
}
.sectionFour .reviews {
  display: flex;
  margin: 0% 2% 5% 8%;
}
.sectionFour .reviews .userReview {
  width: 31%;
  margin-right: 7%;
  justify-content: center;
}
.sectionFour .reviews .userReview p {
  font-size: 2.4rem;
  color: #44474C;
  line-height: 1.5;
}
.sectionFour .reviews .userReview h5 {
  font-size: 2.4rem;
  margin-top: 5%;
  color: #424244;
}
.sectionFive {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #F2EAEA;
}
.sectionFive h4 {
  font-size: 4.8rem;
  margin: 4% 0% 4% 8%;
  color: #424244;
}
.sectionFive .impact {
  display: flex;
  justify-content: center;
  margin: 0% 1% 5% 8%;
}
.sectionFive .impact .roadWork {
  width: 31%;
  margin-right: 7%;
  justify-content: center;
}
.sectionFive .impact .roadWork img {
  width: 100%;
  border-radius: 10px;
}
.sectionFive .impact .roadWork h5 {
  font-size: 2.4rem;
  margin-top: 5%;
  line-height: 1.5;
  color: #44474C;
}
.sectionSix {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}
.sectionSix form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionSix form input {
  width: 65%;
  height: 30%;
  font-size: 2.1rem;
  border: 1px solid #707376;
  border-radius: 10px;
}
.sectionSix ::placeholder {
  font-size: 2.1rem;
  color: #707376;
  opacity: 1;
  padding-left: 2%;
}
.sectionSix button {
  font-size: 2.1rem;
  color: #ffffff;
  background-color: #C91757;
  padding: 2% 5%;
  border-radius: 10px;
  margin: 6% 0% 6% 1%;
}
footer {
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-content: center;
}
footer p {
  font-size: 2.1rem;
  color: #ffffff;
  padding: 2%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2% auto;
}
header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  width: 100%;
  background-color: #008080;
}
header .navBar h1 {
  font-size: 3.2rem;
  color: #ffffff;
  padding: 0% 2%;
  width: 10%;
}
header .navBar h1 span {
  color: #C91757;
}
header .navBar h1 i {
  color: #424244;
}
header .navBar .navLinks {
  width: 21%;
}
header .navBar .navLinks a {
  font-size: 2.1rem;
  text-decoration: none;
  color: #ffffff;
  padding: 0 7%;
}
