html {
    font-size: 62.5%;
}

.mainContent2 {
    margin: 0% 8%;
    font-family: 'Open Sans', sans-serif;
}

.sectionOne {
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    background-color: @bg-color;

    .leftHalf {
        width: 40%;
        height: 60vh;
        margin: 6% 0% 0% 8%;

        h2 {
            font-size: @herotitleone-size;
            color: @headingtext-color;
        }

        h3{
            color: @herotext-color;
            font-size: @herotitletwo-size;
            margin: 4% 0% 9% 0%;
            font-weight: 300;
            line-height: 1.1;
        }

        button {
            font-size: @buttontext-size;
            color: @white;
            background-color: @raspberry;
            padding: 2% 5%;
            border-radius: 10px;
        }
    }

    .rightHalf {
        width: 40%;
        height: 60vh;
        margin: 2% 6%;

        img {
            margin: 7% 0% 3% 0%;
            border-radius: 10px;
        }
    }
}

.section1 {
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: @bg-color;
    padding: 5% 0%;

    .sideL {
        width: 40%;

        h4 {
            font-size: @maintitletext-size;
            color: @headingtext-color;
        }
    
        p {
            font-size: @maintext-size;
            color: @maintext-color;
            line-height: 1.5;
            margin-top: 4%;
        }
    }

    .sideR {
        width: 40%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

.sectionTwo {
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 5% 0% 5% 8%;

    h4 {
        font-size: @maintitletext-size;
        color: @headingtext-color;
    }

    h5 {
        font-size: @maintext-size;
        color: @maintext-color;
        line-height: 1.4;
        margin: 4% 0% 3% 0%;
    }
}

.section2 {
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: @white;
    padding: 5% 0%;

    .sideL {
        width: 40%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .sideR {
        width: 40%;

        p {
            font-size: @maintext-size;
            color: @maintext-color;
            line-height: 1.5;
            margin-top: 14%;
        }
    }
}

.sectionThree {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @bg-color;

    h4 {
        font-size: @maintitletext-size;
        margin: 5% 0% 5% 8%;
        color: @headingtext-color;
    }

    .threeSteps {
        list-style-position: inside;
        margin: 6% 16% 6% 3%; 
        color: @maintext-color;
        
        li {
            font-size: @maintext-size;
            padding: 3% 0%;
            list-style-type: square;
        }

        li:nth-child(1){
            color: @raspberry;
        }
    }
}

.section3 {
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: @bg-color;
    padding: 5% 0% 10% 0%;

    .ourTeam {
        font-size: @maintitletext-size;
        color: @headingtext-color;
        margin-bottom: 5%;
        text-align: center;
    }

    .devGroupOne {
        margin-bottom: 4%;
    }

    .devGroupOne, .devGroupTwo {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .dev {
            width: 25%;
            justify-content: space-between;
            font-size: @maintext-size;
            text-align: center;

            img {
                width: 80%;
                border-radius: 50%;
            }

            h4 {
                color:@raspberry;
                margin-top: 5%;
            }

            h5 {
                font-weight: 300;
                margin-top: 3%;
                color: @maintext-color;
            }

            i {
                margin-top: 5%;
                padding: 0% 1%;
                color: @teal;
            }

            p {
                font-size: @maintext-size;
                color: @maintext-color;
                line-height: 1.5;
                margin-top: 4%;
                text-align: left;
                padding-left: 10%;
            }
        }
    }
}

.sectionFour {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: @maintitletext-size;
        margin: 4% 0% 3% 8%;
        color: @headingtext-color;
    }

    .reviews {
        display: flex;
        margin: 0% 2% 5% 8%;
        
        .userReview {
            width: 31%;
            margin-right: 7%;
            justify-content: center;
            
            p {
                font-size: @maintext-size;
                color: @maintext-color;
                line-height: 1.5;
            }

            h5 {
                font-size: @maintext-size;
                margin-top: 5%;
                color: @headingtext-color;
            }
        }
    }
}

// .section4 {
//     max-width: 100%;
//     font-family: 'Open Sans', sans-serif;
//     display: flex;
//     background-color: @bg-color;
//     margin: 6% 0% 6% 0%;

//     .devGroupTwo {
//         width: 100%;
//         display: flex;
//         justify-content: center;

//         .dev {
//             width: 31%;
//             margin-right: 7%;
//             justify-content: space-between;
//             font-size: @maintext-size;

//             img {
//                 width: 100%;
//                 border-radius: 10px;
//             }

//             h4 {
//                 color:@raspberry;
//             }

//             h5 {
//                 font-weight: 300;
//             }

//             p {
//                 font-size: @maintext-size;
//                 color: @maintext-color;
//                 line-height: 1.5;
//             }
//         }
//     }
// }

.sectionFive {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F2EAEA;

    h4 {
        font-size: @maintitletext-size;
        margin: 4% 0% 4% 8%;
        color: @headingtext-color;
    }

    .impact {
        display: flex;
        justify-content: center;
        margin: 0% 1% 5% 8%; 

        .roadWork {
            width: 31%;
            margin-right: 7%;
            justify-content: center;

            img {
                width: 100%;
                border-radius: 10px;
            }

            h5 {
                font-size: @maintext-size;
                margin-top: 5%;
                line-height: 1.5;
                color: @maintext-color;
            }
        }
    }
}

.sectionSix {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;

    form {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 65%;
            height: 30%;
            font-size: @buttontext-size;
            border: 1px solid @placeholdertext-color;
            border-radius: 10px;
        }
    }


    ::placeholder {
        font-size: @buttontext-size;
        color: @placeholdertext-color;
        opacity: 1;
        padding-left: 2%;

    }

    button {
        font-size: @buttontext-size;
        color: @white;
        background-color: @raspberry;
        padding: 2% 5%;
        border-radius: 10px;
        margin: 6% 0% 6% 1%;
    }
}

footer {
    background-color: @teal;
    display: flex;
    justify-content: center;
    align-content: center;

    p {
        font-size: @navtext-size;
        color: @white;
        padding: 2%;
    }
}